{% extends "common/base.html" %}

{% block extra_head %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.2/css/swiper.min.css">

<style>
    html, body {
        position: relative;
        height: 100%;
    }

    body {
        margin: 0;
        padding: 0;
    }

    .erk-form, .swiper-container{
        width: 100%;
        height: 100%;
    }

    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        /* Center slide text vertically */
        /*display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;*/
    }
</style>
{% endblock extra_head %}

{% block body %}

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
{# Form: https://docs.djangoproject.com/en/1.10/intro/tutorial04/ #}
<form action="{% url 'recipes:new' %}" class="viewform erk-form form-horizontal" id="erk-form" method="post">
    {% csrf_token %}
    <!-- {{ form }} -->
    <!-- Slider main container -->
    <div class="swiper-container">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
            {% for field in form %}
            <div class="swiper-slide">
                {{ field.errors }}
                {{ field.label_tag }} {{ field }}
            </div>
            {% endfor %}
            <div class="swiper-slide">
                ¡Gracias!
            </div>
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
        <!-- Add Arrows -->
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
    </div>
    {# <input type="submit" value="Guardar" /> #}
</form>

{% endblock body %}

{% block extra_body %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.2/js/swiper.jquery.min.js"></script>
<script type="text/javascript">
$(document).ready(function () {
    $("#erk-form").on("submit", function(ev) {
        // ev.preventDefault();
        window.alert($(this).serialize());
    });
    //initialize swiper when document ready
    var mySwiper = new Swiper ('.swiper-container', {
        // Optional parameters
        nextButton: '.swiper-button-next',
        prevButton: '.swiper-button-prev',
        pagination: '.swiper-pagination',
        paginationType: 'progress',
        keyboardControl: true,
        onReachEnd: function(swiper) {
            $("#erk-form").trigger("submit");
        }
    });
});
</script>

{% endblock extra_body %}
