django==1.10
# Django material desing frontend and admin
# https://github.com/viewflow/django-material
#
django-material
#
# Generate jpg from models
#
django-extensions
pyparsing
pydot
#
# Informacion en este gist:
# https://gist.github.com/erknrio/d7d061006974b8f357510c125f8a9661
#
# Pretty cloured test
# https://github.com/CleanCut/green
# green
